Assignment 2 - Working with Pandas


Objective Learn to create and manipulate dataframes for data analysis.  


Instructions


Step 1 Install Pandas using:
pip install pandas


Step 2 Create a new Python script pandas_assignment.ipynb. Import Pandas and follow these steps:  


1. Create a DataFrame with the following data:  
  


  data = {
      'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
      'Age': [24, 27, 22, 32, 29],
      'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],
      'Salary': [45000, 54000, 50000, 62000, 47000]
  }
  a. Print the first five rows of the DataFrame.  
  b. Get the summary statistics of the 'Age' and 'Salary' columns.  
  c. Calculate the average salary of employees in the 'HR' department.  


2. Add a new column, 'Bonus', which is 10% of the salary.  


3. Filter the DataFrame to show employees aged between 25 and 30.  


4. Group the data by 'Department' and calculate the average salary for each department.  


5. Sort the DataFrame by 'Salary' in ascending order and save the result to a new CSV file.

In [1]:
import pandas as pd
data = pd.DataFrame({
      'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
      'Age': [24, 27, 22, 32, 29],
      'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],
      'Salary': [45000, 54000, 50000, 62000, 47000]
  })
#question one
print(data.head(5))
print('Age and Salary\n',data[['Age','Salary']])
print('Average salary of Hr\n',data[data['Department'] == 'HR']['Salary'].mean())
#quest 2
data['Bonus']=data['Salary']*0.10
print(data)
print('Employee Between 25 to 30 Age \n',data[(data['Age']>25) & (data['Age']<30)])
print('Average salary of each Depatment\n',data.groupby("Department")["Salary"].mean())
#data['Salary'].sort_values()
sortedData=data.sort_values(by='Salary',ascending=True)
print(sortedData)
sortedData.to_csv("sorteddataframe.csv",index=False)

      Name  Age Department  Salary
0    Alice   24         HR   45000
1      Bob   27    Finance   54000
2  Charlie   22         IT   50000
3    Diana   32  Marketing   62000
4      Eve   29         HR   47000
Age and Salary
    Age  Salary
0   24   45000
1   27   54000
2   22   50000
3   32   62000
4   29   47000
Average salary of Hr
 46000.0
      Name  Age Department  Salary   Bonus
0    Alice   24         HR   45000  4500.0
1      Bob   27    Finance   54000  5400.0
2  Charlie   22         IT   50000  5000.0
3    Diana   32  Marketing   62000  6200.0
4      Eve   29         HR   47000  4700.0
Employee Between 25 to 30 Age
   Name  Age Department  Salary   Bonus
1  Bob   27    Finance   54000  5400.0
4  Eve   29         HR   47000  4700.0
Average salary of each Depatment
 Department
Finance      54000.0
HR           46000.0
IT           50000.0
Marketing    62000.0
Name: Salary, dtype: float64
      Name  Age Department  Salary   Bonus
0    Alice   24         HR   45000  4500.0
4      Eve   29         HR   47000  4700.0
2  Charlie   22         IT   50000  5000.0
1      Bob   27    Finance   54000  5400.0
3    Diana   32  Marketing   62000  6200.0