In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.impute import SimpleImputer

In [22]:
#load dataset

import kagglehub
import os
# Download latest version
#df=pd.read_csv("tested.csv")
path = kagglehub.dataset_download("brendan45774/test-file")
print(os.listdir(path))

df = pd.read_csv(path + "/tested.csv")
df.head()
#df.shape

['tested.csv']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [23]:
#select the column 
df_model=df[['Survived','Pclass','Sex','Age','Fare']]

#convert the sext into 0,1
df_model['Sex']=df_model['Sex'].map({"male":0,'female':1})

/var/folders/p3/pnt22dmn5ys_722j0bktl9f00000gn/T/ipykernel_16174/1746961538.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_model['Sex']=df_model['Sex'].map({"male":0,'female':1})

In [24]:
#check null
df_model.isnull().sum()

Survived     0
Pclass       0
Sex          0
Age         86
Fare         1
dtype: int64

In [25]:
#seperate the features 
X=df_model.drop('Survived',axis=1)
y=df_model['Survived']

In [26]:
#using impute to handle the missing value

impute =SimpleImputer(strategy='mean')
X_imputed=impute.fit_transform(X)
X_imputed[:5]

array([[ 3.    ,  0.    , 34.5   ,  7.8292],
       [ 3.    ,  1.    , 47.    ,  7.    ],
       [ 2.    ,  0.    , 62.    ,  9.6875],
       [ 3.    ,  0.    , 27.    ,  8.6625],
       [ 3.    ,  1.    , 22.    , 12.2875]])

In [27]:
#slipt into train and test sets
X_train,X_test,y_train,y_test=train_test_split(X_imputed,y,test_size=0.2,random_state=42)

In [28]:
#train the naive bayes classifier
nb_model=GaussianNB()

#train on the training data
nb_model.fit(X_train,y_train)
#prediction
y_pred=nb_model.predict(X_test)

In [29]:
#evaluation
print("\naccuracy",accuracy_score(y_test,y_pred))
print("\nconfusion matrix\n",confusion_matrix(y_test,y_pred))
print("\n classification report:\n",classification_report(y_test,y_pred))

accuracy 1.0

confusion matrix
 [[50  0]
 [ 0 34]]

 classification report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

Because the dataset is very small, the model made no mistakes